@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Quicksand:wght@400;600&family=Roboto+Flex:opsz,wght@8..144,400;8..144,600;8..144,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //background-color: #ffffff;
  font-family: "roboto flex";
  scroll-behavior: smooth;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .cta {
    background: #0b63b2;
    padding: 16px 28px;
    border-radius: 8px;
    border: none;
    width: 195px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1.8em;
    margin-left: 0.2em;

    &:hover {
      border: 2px solid #0b63b2;
      background: none;
      color: #0b63b2;
      letter-spacing: 3px;
    }
  }
  svg {
    width: 2.3em;
  }

  .open-nav {
    transform: translateX(0);
  }
}

body {
  //NAV
  header {
    font-family: "roboto flex";
    display: flex;
    justify-content: space-around;
    margin: 1.2em;

    .close {
      float: right;
      margin: 2em;
      background: #0b63b2;
    }

    .logo {
      width: 80%;
    }

    nav {
      position: fixed;
      background: #0b63b2;
      right: 0;
      top: 0;
      height: 100vh;
      width: 50%;
      z-index: 999;
      transform: translateX(100%);

      ul {
        padding: 0;
        margin-top: 6em;

        a {
          display: block;
          color: #fdfdfd;
          padding: 1em 2em;

          &:hover {
            background: #fdfdfd;
            color: #0b63b2;
          }
        }
      }
      .icons {
        display: block;
        margin-top: 2em;
        color: #fdfdfd;

        svg {
          margin-left: 1.5em;
        }
      }
    }

    .cta-buttons,
    .nav-icon {
      display: none;
    }
  }
  //HERO SECTION
  Section.hero {
    .hero-content {
      display: flex;
      flex-direction: column;

      .hero-image {
        img {
          width: 100%;

          //display: block;
        }
      }

      .text {
        margin-left: 1.2em;
        h1 {
          margin-top: 2.3em;
          color: #0b63b2;
          font-size: 38px;
          font-style: normal;
          font-weight: 700;
          line-height: 45.6px;
          letter-spacing: -0.38px;
          width: 347px;

          span {
            color: #0b63b2;

            font-style: italic;
            font-weight: 400;
            line-height: 45.6px;
            letter-spacing: -0.38px;
          }
        }

        p {
          color: #676767;
          font-family: Roboto Flex;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;

          margin-top: 1.2em;

          width: 312px;
        }

        button {
          background: #0b63b2;
          padding: 16px 28px;
          border-radius: 8px;
          border: none;
          width: 195px;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          margin-top: 1.8em;
          margin-left: 1em;

          &:hover {
            border: 2px solid #0b63b2;
            background: none;
            color: #0b63b2;
            letter-spacing: 3px;
          }
        }
      }
    }

    .sub-hero {
      h4 {
        width: 326px;
        color: var(--Foundation-Blue-Normal, #0b63b2);
        font-family: Roboto Flex;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        margin-left: 1.5em;
        margin-top: 2em;
      }

      .sub-hero-images {
        display: flex;
        gap: 2em;
        margin: 0 auto;
        padding: 1.5em;
        width: 358px;

        .deliveries {
          img {
            width: 56px;
            height: 56px;
            display: flex;
            width: 56px;
            height: 56px;
            justify-content: center;
            align-items: center;
          }
        }

        .sub-hero-text {
          //text-align: center;
          color: #0b63b2;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 27px;
        }
      }
    }
  }

  //RELATIONSHIP SECTION
  section.relationship {
    .relationship-content {
      margin-top: 4em;
      display: block;
      .rel-image {
        img {
          display: block;
          margin-left: 2em;
          width: 320px;
          height: 296.62px;
        }
      }

      .relationship-text {
        padding: 1.5em;
        h2 {
          width: 343px;
          color: #0b63b2;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 43.2px;
        }
        p {
          width: 343px;
          color: #676767;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          margin-top: 1.7em;
        }
      }
    }
  }

  //VALUE SECTION
  section.value {
    margin-top: 3em;
    h2 {
      color: #0b63b2;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 57.6px;
      margin: 0 auto;
      text-align: center;
    }
    p {
      color: #676767;
      font-size: 19px;
      width: 290px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      margin: 0 auto;
      text-align: center;
    }

    .value-content {
      margin-top: 3em;
      display: block;

      .med {
        background: rgba(11, 99, 178, 0.05);
        padding: 2em 3em;
        width: 90%;
        margin: 0 auto;
        margin-top: 7em;
        img {
          width: 199px;
          height: 226px;
          flex-shrink: 0;
          display: block;
          margin: 0 auto;
        }

        .text {
          h5 {
            color: #0b63b2;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            margin: 0 auto;
            text-align: center;
          }

          .price {
            text-align: center;
            h6 {
              color: var(--foundation-white-dark-hover, #8a8a8a);

              font-family: Roboto Flex;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;

              span {
                text-decoration: line-through;
                color: var(--foundation-white-normal-active, #b8b8b8);

                font-family: Roboto Flex;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
              }
            }

            .bold {
              color: #333;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
            }
          }
        }
      }
    }
    .value-btn {
      display: block;
      margin: 0 auto;
      margin-top: 1em;
    }
  }

  //MEDICATION SECTION
  section.medication {
    margin-top: 3em;

    .medication-content {
      padding: 1.3em;
      background: url(images/medication-background.svg);

      h2 {
        width: 290px;
        height: 160px;
        color: #fdfdfd;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.72px;
        line-height: 40.4px;
        width: 234px;

        span {
          font-size: 32px;
          font-style: italic;
          font-weight: 400;
          letter-spacing: -0.72px;
        }
      }
      .medication-btn {
        background: #0b63b2;
        color: #fff;
        border-radius: 8px;
        border: none;
        display: flex;
        padding: 8px 14px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;

        &:hover {
          background: #05dd6b;
        }
      }

      button {
        margin-top: 0.2em;
        img {
          display: flex;
          width: 14px;
          height: 14px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  //CONSULTATION SECTION
  section.consultation {
    margin-top: 3em;
    padding: 2em;

    .consultation-content {
      display: flex;
      flex-direction: column-reverse;
      .consultation-image-box {
        img {
          width: 360px;
          height: 325px;
          margin: 0 auto;
          display: block;
        }
      }
      .consultation-text {
        margin-top: 3em;
        h2 {
          width: 377px;
          color: #0b63b2;
          font-size: 34px;
          font-style: normal;
          font-weight: 600;
          line-height: 47.6px;
        }
        p {
          margin-top: 1em;
          width: 342px;
          color: #676767;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px;
        }
        .consultation-btn {
          display: flex;
          width: 185px;
          padding: 12px 20px;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: none;
          background: #0b63b2;
          color: #fff;
          margin-top: 1.2em;

          &:hover {
            border: 2px solid #0b63b2;
            color: #0b63b2;
            background: none;
          }
        }
      }
    }
  }

  //BLOG SECTION
  section.blog {
    h2 {
      color: #0b63b2;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 57.6px;
      text-align: center;
    }

    .blog-box {
      //background: red;
      margin-top: 2em;

      .blog-content {
        height: 580px;
        width: 390px;
        margin: 0 auto;
        margin-top: 2em;
        padding: 0.2em;
        &:hover {
          background: #fff;
          //background: #05dd6b;
          border-radius: 12px;
          border: 1px solid var(--Foundation-White-Normal, #e6e6e6);

          box-shadow: 0px 0px 8px 12px rgba(0, 0, 0, 0.01);
        }

        .main-image {
          img {
            border-radius: 8px;
            display: block;
            margin: 0 auto;
            padding: 5px;
          }
        }

        .blog-text {
          padding: 3px 6px;

          h3 {
            width: 349px;
            color: #333;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            margin: 0 auto;

            span {
              color: #adadad;
              text-transform: uppercase;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
            }
          }
          p {
            width: 350px;
            color: #333;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin: 0 auto;

            span {
              a {
                color: #0b63b2;
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                line-height: 24px;

                &:hover {
                  color: #05dd6b;
                }
              }
            }
          }
        }

        .avatar-box {
          //background-color: green;

          .avatar-box-content {
            display: flex;
            gap: 1em;
            margin-top: 1em;

            .avatar-box-text {
              h3 {
                color: #101928;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
              }
              p {
                color: #344054;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 680px) {
  body {
    header {
      nav {
        background: #0b63b2;
        ul {
          a {
            font-size: 23px;
          }
        }

        .nav-icon {
          svg {
            margin-left: 2.5em;
          }
        }
      }
    }
    Section.hero {
      //width: 50%;
      .hero-content {
        .text {
          //display: none;
          //display: none;
          padding: 2em;

          h1 {
            margin-top: 1em;
            color: #0b63b2;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 55.6px;
            letter-spacing: -0.38px;
            width: 447px;
            //margin-left: 2em;

            span {
              color: #0b63b2;

              font-style: italic;
              font-weight: 400;
              line-height: 45.6px;
              letter-spacing: -0.38px;
            }
          }

          p {
            color: #676767;
            font-family: Roboto Flex;
            font-size: 29px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;

            width: 612px;
            //margin: 0 auto;
            margin-top: 1em;
          }

          button {
            background: #0b63b2;
            padding: 16px 28px;
            border-radius: 8px;
            border: none;
            width: 195px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            margin-top: 1.8em;
            margin-left: 1em;

            &:hover {
              border: 2px solid #0b63b2;
              background: none;
              color: #0b63b2;
              letter-spacing: 3px;
            }
          }
        }

        .hero-image {
          img {
            // display: none;
            //display: block;
          }
        }
      }

      .sub-hero {
        h4 {
          display: none;
          width: 690px;
          color: #0b63b2;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 36px;
          text-align: center;
          margin-left: 2em;
          margin-top: 1em;
          margin-bottom: 1em;
          margin: 0 auto;
        }

        .sub-hero-images {
          display: flex;
          gap: 6em;
          margin: 0 auto;
          padding: 1em;
          width: 638px;

          .deliveries {
            img {
              width: 56px;
              height: 56px;
              margin: 0 auto;
            }
          }
          .sub-hero-text {
            text-align: center;
            color: #0b63b2;
            font-family: Roboto Flex;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            color: var(--Foundation-Blue-Normal, #0b63b2);
            font-family: Roboto Flex;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 150% */
          }
        }
      }
    }

    section.relationship {
      //width: 90%;
      // display: none;

      .relationship-content {
        margin-top: 4em;
        display: flex;
        justify-content: center;
        gap: 1em;
        .rel-image {
          img {
            display: block;
            width: 330px;
            height: 476px;
          }
        }

        .relationship-text {
          h2 {
            margin-top: 3em;
            width: 193px;
            color: #0b63b2;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 33.2px;
          }
          p {
            width: 243px;
            color: #676767;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            margin-top: 1em;
          }
          .relationship-btn {
            margin-top: 1em;
            padding: 8px 12px;
            font-size: 14px;
          }
        }
      }
    }

    section.value {
      margin-top: 3em;
      //display: none;

      h2 {
        //display: none;
        color: #0b63b2;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 57.6px;
        margin: 0 auto;
        text-align: center;
      }
      p {
        //display: none;
        color: #676767;
        font-size: 20px;
        width: 600px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin: 0 auto;
        margin-top: 1.4em;
        text-align: center;
      }

      .value-content {
        //display: none;
        margin-top: 3em;
        //display: block;
        .med {
          background: rgba(11, 99, 178, 0.05);
          padding: 2em;
          width: 70%;
          margin: 0 auto;
          margin-top: 3em;
          img {
            width: 390px;
            height: 300px;
            display: block;
            margin: 0 auto;
          }

          .text {
            h5 {
              color: var(--Foundation-Blue-Normal, #0b63b2);
              font-size: 29px;
              font-style: normal;
              font-weight: 600;
              line-height: 30px;
              margin: 0 auto;
              text-align: center;
            }

            .price {
              text-align: center;
              margin-top: 2em;
              h6 {
                color: #8a8a8a;
                font-size: 19px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;

                span {
                  text-decoration: line-through;
                  color: #b8b8b8;
                  font-size: 19px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 18px;
                }
              }

              .bold {
                color: #333;
                font-size: 23px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
              }
            }
          }
        }
      }
      .value-btn {
        display: block;
        display: none;
        margin: 0 auto;
        width: 300px;
        margin-top: 2em;
      }
    }
    section.medication {
      margin-top: 3em;
      // display: none;

      .medication-content {
        h2 {
          font-size: 33.5px;
        }
      }
    }

    section.consultation {
      margin-top: 3em;
      padding: 2em;
      //display: none;

      .consultation-content {
        display: flex;
        flex-direction: row;
        gap: 2em;
        //display: none;
        .consultation-image-box {
          img {
            width: 285px;
            height: 300px;
            margin: 0px;
          }
        }
        .consultation-text {
          margin-top: 1em;
          //display: none;
          h2 {
            width: 317px;
            color: #0b63b2;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 37.6px;
          }
          p {
            margin-top: 1em;
            width: 314px;
            color: #676767;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 23px;
          }
          .consultation-btn {
            display: flex;
            width: 185px;
            padding: 12px 20px;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    section.blog {
      h2 {
        color: #0b63b2;
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: 57.6px;
        text-align: center;
      }

      .blog-box {
        //background: red;
        margin-top: 2em;

        .blog-content {
          height: 580px;
          width: 490px;
          margin: 0 auto;
          margin-top: 2em;
          padding: 0.2em;
          &:hover {
            background: #fff;
            //background: #05dd6b;
            border-radius: 12px;
            border: 1px solid var(--Foundation-White-Normal, #e6e6e6);

            box-shadow: 0px 0px 8px 12px rgba(0, 0, 0, 0.01);
          }

          .main-image {
            img {
              border-radius: 8px;
              display: block;
              margin: 0 auto;
              padding: 5px;
              width: 400px;
            }
          }

          .blog-text {
            padding: 3px 6px;

            h3 {
              width: 359px;
              color: #333;
              font-size: 26px;
              font-style: normal;
              font-weight: 600;
              line-height: 36px;
              margin: 0 auto;

              span {
                color: #adadad;
                text-transform: uppercase;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
              }
            }

            p {
              width: 360px;
              color: #333;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin: 0 auto;

              span {
                a {
                  color: #0b63b2;
                  font-size: 16px;
                  font-style: italic;
                  font-weight: 400;
                  line-height: 24px;

                  &:hover {
                    color: #05dd6b;
                  }
                }
              }
            }
          }

          .avatar-box {
            //background-color: green;

            .avatar-box-content {
              display: flex;
              gap: 1em;
              margin-top: 1em;
              margin-left: 4em;

              .avatar-box-text {
                h3 {
                  color: #101928;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 24px;
                }
                p {
                  color: #344054;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 920px) {
  .menu,
  .close,
  .nav-cta {
    display: none;
  }

  body {
    header {
      .logo {
        //width: 30%;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      //width: 100%;

      nav {
        .icons {
          display: none;
        }
        transform: translateX(0);
        background: none;
        position: unset;
        width: auto;
        height: auto;
        margin-left: -65em;

        ul {
          display: flex;
          justify-content: space-evenly;
          margin-top: 0;
          background: none;

          a {
            color: #0b63b2;
            font-family: Roboto Flex;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            &:hover {
              background: none;
              text-decoration: 4px solid #05dd6b underline;
            }
          }
        }
      }

      .cta-buttons,
      .nav-icon {
        display: block;
      }

      .cta-buttons {
        ul {
          display: flex;
          flex-direction: row;
          gap: 1em;
          margin-right: 11em;

          .order-now {
            background: #0b63b2;
            border-radius: 8px;
            padding: 10px 16px;
            border: 0px solid var(--Foundation-Blue-Normal, #0b63b2);

            a {
              color: #fff;
            }
          }

          .merchant {
            background: #05dd6b;
            border: 0px solid var(--Foundation-Green-Normal, #05dd6b);

            border-radius: 8px;
            padding: 10px 16px;

            a {
              color: #fff;
            }
          }
        }
      }

      .nav-icon {
        ul {
          //background: red;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1em;
          //margin-left: -11em;

          li {
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    section.hero {
      .hero-content {
        display: flex;
        flex-direction: row-reverse;
        justify-self: center;
        //justify-content: center;

        .hero-image {
          width: 100%;
        }

        .text {
          padding: 1.2em;

          h1 {
            margin-top: 1.3em;
            color: #0b63b2;
            width: 798px;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 76.8px;
            letter-spacing: -0.64px;

            span {
              color: var(--Foundation-Blue-Normal, #0b63b2);
              font-family: Roboto Flex;
              font-size: 64px;
              font-style: italic;
              font-weight: 400;
              line-height: 76.8px;
              letter-spacing: -0.64px;
            }
          }

          p {
            color: var(--foundation-white-dark-active, #676767);
            font-family: Roboto Flex;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            width: 637px;
          }

          button {
            background: #0b63b2;
            padding: 16px 28px;
            border-radius: 8px;
            border: none;
            width: 195px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            margin-top: 1.8em;
            margin-left: 1em;

            &:hover {
              border: 2px solid #0b63b2;
              background: none;
              color: #0b63b2;
              letter-spacing: 3px;
            }
          }
        }
      }

      .sub-hero {
        margin-top: 3em;
        display: block;
        h4 {
          width: 919px;
          color: #0b63b2;
          margin: 0 auto;
          text-align: center;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 42px;
        }

        .sub-hero-images {
          display: flex;
          justify-content: center;
          margin-top: 2em;
          .deliveries {
            img {
              width: 56px;
              height: 56px;
              display: flex;
              width: 56px;
              height: 56px;
              justify-content: center;
              align-items: center;
            }
          }

          .sub-hero-text {
            color: #0b63b2;
            width: 197px;
            height: 36px;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 150% */
            margin-left: 0.5em;
          }
        }
      }
    }
    section.relationship {
      .relationship-content {
        margin-top: 4em;
        display: flex;
        justify-content: center;
        gap: 2em;
        .rel-image {
          img {
            display: block;
            width: 636px;
            height: 636px;
          }
        }

        .relationship-text {
          h2 {
            margin-top: 3em;
            width: 477px;
            color: #0b63b2;
            font-weight: 600;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 57.6px;
          }
          p {
            width: 442px;
            color: #676767;
            margin-top: 1.7em;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
          }
        }
      }
    }

    section.value {
      width: 80%;
      margin: 0 auto;
      margin-top: 5em;
      //margin-bottom: 20em;
      position: relative;
      h2 {
        color: #0b63b2;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 57.6px;
        margin: 0 auto;
        text-align: center;
      }
      p {
        color: #676767;
        font-size: 20px;
        width: 708px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin: 0 auto;
        margin-top: 1.4em;
        text-align: center;
      }

      .value-content {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
        margin-top: 6em;
        .med {
          width: 380px;
          height: 380px;
          padding: 1em;

          img {
            &:hover {
              transform: scale(1.1);
            }
          }
          .first-med {
            width: 299px;
            height: 226px;
          }
          .second-med {
            width: 197px;
            height: 390px;
            position: absolute;
            top: 7.8em;
            right: 30em;
          }

          .third-med {
            width: 295px;
            height: 295px;
            position: absolute;
            top: 9.8em;
            right: 2em;
          }
        }
        .second-med-text {
          position: relative;
          bottom: -15em;
        }

        .third-med-text {
          position: relative;
          bottom: -15em;
        }
      }
      .value-btn {
        display: block;
        margin: 0 auto;
        width: 300px;
        margin-top: 4em;
      }
    }
    section.medication {
      margin-top: 3em;

      .medication-content {
        background-size: cover;
        width: 100%;
        height: 55vh;

        h2 {
          width: 290px;
          height: 160px;
          color: #fdfdfd;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          letter-spacing: -0.72px;
          line-height: 40.4px;
          width: 234px;
          width: 514px;
          color: var(--Foundation-White-Light, #fdfdfd);
          font-family: Roboto Flex;
          font-size: 72px;
          font-style: normal;
          font-weight: 700;
          line-height: 86.4px; /* 120% */
          letter-spacing: -0.72px;

          span {
            color: var(--Foundation-White-Light, #fdfdfd);
            font-family: Roboto Flex;
            font-size: 72px;
            font-style: italic;
            font-weight: 400;
            line-height: 86.4px;
            letter-spacing: -0.72px;
          }
        }

        .medication-btn {
          background: #0b63b2;
          color: #fff;
          border-radius: 8px;
          border: none;
          display: flex;
          padding: 8px 14px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          color: var(--Base-White, #fff);
          font-family: Roboto Flex;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 155.556% */
          margin-top: 8em;

          &:hover {
            background: #05dd6b;
          }
        }
        button {
          img {
            display: flex;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    section.consultation {
      margin-top: 5em;

      .consultation-content {
        display: flex;
        flex-direction: row;
        gap: 3em;
        justify-content: center;
        align-items: center;
        .consultation-image-box {
          img {
            width: 750px;
            height: 636px;
          }
        }
        .consultation-text {
          margin-top: 1em;
          h2 {
            width: 477px;
            color: #0b63b2;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 57.6px;
          }
          p {
            margin-top: 1em;
            color: #676767;
            width: 442px;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
          }
        }
      }
    }
    section.blog {
      h2 {
        font-size: 48px;
      }

      .blog-box {
        display: flex;
        margin-top: 2em;

        .blog-content {
          height: 580px;
          width: 390px;
          margin: 0 auto;
          margin-top: 2em;
          padding: 0.2em;

          .main-image {
            img {
              border-radius: 8px;
              display: block;
              margin: 0 auto;
              width: 350px;
            }
          }

          .blog-text {
            padding: 3px 6px;
            h3 {
              width: 349px;
              color: #333;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 36px;
              margin: 0 auto;

              span {
                color: #adadad;
                text-transform: uppercase;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
              }
            }
            p {
              width: 350px;
              color: #333;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin: 0 auto;
              span {
                a {
                  color: #0b63b2;
                  font-size: 16px;
                  font-style: italic;
                  font-weight: 400;
                  line-height: 24px;

                  &:hover {
                    color: #05dd6b;
                  }
                }
              }
            }

            .go-down1 {
              margin-top: 4em;
            }

            .go-down2 {
              margin-top: 1.5em;
            }
          }

          .avatar-box {
            .avatar-box-content {
              display: flex;
              gap: 1em;
              margin-left: 1em;
              margin-top: 1em;
              .avatar-box-text {
                h3 {
                  color: #101928;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 24px;
                }
                p {
                  color: #344054;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
